In [ ]:
1. In the below elements which of them are values or an expression? eg:- values can be integer or
   string and expressions will be mathematical operators.
Ans:-

*           :- Expression
'hello'     :- Value
-87.8       :- Value
-           :- Expression
/           :- Expression
+           :- Expression
6           :- Value

In [ ]:
2. What is the difference between string and variable?
Ans:-
    
String :- String is nothing but a collection of charecters.String must be in double or sigle qouts.
          Example :- print("Hello world")
                    In this Hello world is string.
                    a = "Aditya"
                    Using variable we can store string Aditya in variable a.
                    
                    
Variable :- Variable is like container is used to store differt data types. Variable can strore int 
            char, bool, string, float kind of data types.
            Example :- a = 10
                     In this a is variable use of a is store the value 10. 
                     The value of a can be anything.

In [ ]:
3. Describe three different data types.
Ans:-
    
a)int :- int is used to store integer type value.Integer values are not iterable.
         It holds signed integer numbers.
         Example :- a = 10
                
b)float :- float is used to store floating point number. floating point means 
            the number that contain decimal point.Decimal place is accurate up to 
            15 decimal places.
            Example :- a = 10.00
            
c)string :- string is used to store string type of data. String is 
            collection of characters. String can be written in double or 
            single quots. We can iterate over a string by each character by character.
            Example :- a = "Aditya"
                
d)complex :- complex is consist of real an imaginery part.
            Example :- a = 10+6i
                       Here 10 is real part and 6 is imaginary part. 
                
e)boolean :- It holds either true or false
            Example :- a = false
                       a = true
                
f)list :- list is collection of heterogineous types of data.We can iterate or list by using 
          index number.
          Example :- l = [0,1,2,3]
                     l[0]
                    Here we create a list l and access index 0 element.
                    
g)tuple :- Tuple is collection of items same as a list. The difference is that tuples are immutable.
            Tuples once created cannot be modified. Use parentheses () to store items of a tupe
            Example t = ('sd',44.33)
                    t[0]
                    Here we create a tuple and access index 0 element.

h)set :- set is unordered collection of unique items.Set is defined by values separated by commas inside
         braces {}.set are unorder so indexing has no meaning. the slicing does not work in set.
        Example :- s = {1,3,4,56,1}
                   print(s)
 
i)dictionary :- Dictionary store elements in key:value pair. Keys can be unique.To access values in key
                use keys.
                Example :- d = {1:'a',2:'d',3:'c'}
                        d[1]
                        Here we create dictionary d and access value by using key.

In [ ]:
4. What is an expression made up of? What do all expressions do?
Ans:-
An expression is a combination of operators, constants  and variables.An expression
may consist of one or more operands and zero or more operators to produce a value.
Example :- result = a + b * c ....
           Here result variable is used to store the expression value.
           a,b,c are operands and + * are operators.

In [ ]:
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
Ans :-
An expression is a combination of operators, constants  and variables.
this assignment statement conatin 10 value and expression is used to find value.

In [ ]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
Ans :-
First value 22 is assigned to bacon 
and by adding +1 we can increment value of 22 by 1
so the value of bacon becomes 23.

In [ ]:
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3
Ans :- 
In first line we use + operator so if we use + operator between any two string so plus operator
concatinet both the string.
'span' + 'spamspam'
it gives output as 
'spamspamspam'

In second the span is repeted 3 times because we use * operator
'spam' * 3
it gives output as 
'spamspamspam'

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid?
Ans :-
Because there are some rule to define variable:
1)We cannot use variable name as any reserve keyword.
2)Variable must not contain any white space and special character.
3)Variable names are case sensitive.
4)Variable name cannot begin with a number.
So this cannot follow rule 4 so 100 is invalid name for variable.

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string version of a value?
Ans :-
The int(), float() and str() function will evaluated to the integer, floating-point number and string
versions of the value passed to them.

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
Ans :-
The expression cause an TypeError.
We can solve this erro by two ways.
1)We can conver 99 as string by written in single quotes as like '99' so this will get
  concatenate with string.
  Example :- 'I have eaten ' + '99' + ' burritos.'
    
2)We can type cast this 99 as string by using str(99)
  Example :- 'I have eaten ' + str(99) + ' burritos.'