Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [21]:
def is_symmetrical(num):
    num = str(num)
    i = 0
    j = len(num)-1
    while i <= j:
        if num[i] != num[j]:
            return False
        i +=1
        j -=1
    return True

In [22]:
is_symmetrical(7227)

True

In [23]:
is_symmetrical(12567)

False

In [24]:
is_symmetrical(44444444)

True

In [25]:
is_symmetrical(9939)

False

In [26]:
is_symmetrical(1112111)

True

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [81]:
def multiply_nums(para):
    # Initialize the product
    mul = 1
    # Initialize a variable to store the current number
    current_num = ""

    # Iterate through each character in the input string
    for char in para:
        if char.isdigit() or char == '-':
            # If the character is a digit or a minus sign, add it to the current number
            current_num += char
        elif char == ',':
            # If we encounter a comma, multiply the accumulated number with the product
            mul *= int(current_num)
            # Reset the current number
            current_num = ""

    # Multiply the last accumulated number (if any)
    if current_num:
        mul *= int(current_num)

    return mul

In [82]:
multiply_nums("1,2,3,4")

24

In [83]:
multiply_nums("54,75,453,0")

0

In [95]:
multiply_nums("10,-2")

-20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [91]:
def square_digits(para):
    para = str(para)
    new_num = ""
    for i in range(len(para)):
        if para[i].isdigit():
            new_num += str(int(para[i])**2)
    return int(new_num)

In [92]:
square_digits(9119)

811181

In [93]:
square_digits(2483)

416649

In [94]:
square_digits(3212)

9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [106]:
def setify(lst):
    if type(lst)==list:
        uni_list = []
        for i in range(len(lst)):
            if lst[i] not in uni_list:
                uni_list.append(lst[i])
        uni_list.sort()
        return uni_list

In [107]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [108]:
setify([4, 4, 4, 4])

[4]

In [109]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [110]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

In [115]:
def mean(para):
    new_str = str(para)
    sum = 0
    for i in range(len(new_str)):
        if new_str[i].isdigit():
            sum += int(new_str[i])
    return int(sum / len(new_str))

In [116]:
mean(42)

3

In [117]:
mean(12345)

3

In [118]:
mean(666)

6