# Question1 Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.
Examples
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]

next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]

next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]

next_in_line([], 6) ➞ "No list has been selected"

In [19]:
def next_in_line(list,var):
    if not list:
        return "No list has been selected"
    list.append(var)
    return list[1:]

In [20]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [21]:
next_in_line([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

In [22]:
next_in_line([1, 10, 20, 42 ], 6)

[10, 20, 42, 6]

In [23]:
next_in_line([],6)

'No list has been selected'

# Question2 Create the function that takes a list of dictionaries and returns the sum of people's budgets.
Examples
get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
]) ➞ 65700

get_budgets([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }
]) ➞ 62600

In [79]:
def get_budgets(list):
    sum = 0
    for i in range(len(list)):
        #print(i)
        if type(list[i]) == dict:
            print(list[i])
            sum += list[i].get('budget')
    return sum

In [80]:
get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
])

{'name': 'John', 'age': 21, 'budget': 23000}
{'name': 'Steve', 'age': 32, 'budget': 40000}
{'name': 'Martin', 'age': 16, 'budget': 2700}

65700

In [81]:
get_budgets([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }
])

{'name': 'John', 'age': 21, 'budget': 29000}
{'name': 'Steve', 'age': 32, 'budget': 32000}
{'name': 'Martin', 'age': 16, 'budget': 1600}

62600

# Question3 Create a function that takes a string and returns a string with its letters in alphabetical order.
Examples
alphabet_soup("hello") ➞ "ehllo"

alphabet_soup("edabit") ➞ "abdeit"

alphabet_soup("hacker") ➞ "acehkr"

alphabet_soup("geek") ➞ "eegk"

alphabet_soup("javascript") ➞ "aacijprstv"

In [93]:
def alphabet_soup(string):
    num_str_var = []
    new_str = ""
    for i in range(len(string)):
        num_str_var.append(ord(string[i]))
    num_str_var.sort()
    print(num_str_var)
    for i in range(len(num_str_var)):
        new_str += chr(num_str_var[i])
    return new_str

In [94]:
alphabet_soup("hello")

[101, 104, 108, 108, 111]

'ehllo'

In [95]:
alphabet_soup("hacker")

[97, 99, 101, 104, 107, 114]

'acehkr'

In [96]:
alphabet_soup("geek")

[101, 101, 103, 107]

'eegk'

In [92]:
alphabet_soup("javascript")

[97, 97, 99, 105, 106, 112, 114, 115, 116, 118]

'aacijprstv'

Question4
Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly. What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.
For the example above:
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97
Note that the interest rate is given as a decimal and n=12 because with monthly compounding there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or daily.
Examples
compound_interest(100, 1, 0.05, 1) ➞ 105.0

compound_interest(3500, 15, 0.1, 4) ➞ 15399.26

compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

In [108]:
#principal p, term in year t,interest rate r, no. of compounding periods per year n
def compound_interest(p,t,r,n):
    value = p*(1*r)**(n*t)
        
    return value

In [109]:
compound_interest(3500,15,0.1,4)

3.500000000000011e-57